<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Day planner!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <style>
    .container{
      text-align: center;
      color:brown;
    }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>
